@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

/* Comportamiento global */
body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;

}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Ventana */

#popup{
    background-color: #fff;
    color: #00095B;
    font-size: 1.2rem;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    z-index: 1001;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 10px black;
    /* Settimeout en JS*/
    display: none;
    
}

#cerrar {
    display: block;
    margin: 0 0 0 auto;
    background-color: transparent;
    font-size: 2rem;
    color: gray;
    outline: none;
    border: none;
    cursor: pointer;
}

#popup p{
    color: black;
    text-align: justify;
    margin: 20px 0;
}

#popup h1 {
    text-transform: uppercase;
    text-align: center;
}

#popup a {
    display: block;
    width: 150px;
    position: relative;
    margin: auto;
    text-align: center;
}


/* MOBILE FIRST */

    /* HEADER */
    /* Encabezado */
    #_logo {
        width: 10rem;
    }

    #_opcionesMenu li a{
        color: #00095B;
        position: relative;
        padding: 20px 10px;
        
    }

    #_opcionesMenu li a:hover {
        background-color: #00095B;
        color: #fff;
    }

    #_botonBuscar {
        background-color: #00095B;
        border: none;
    }

    #_botonBuscar:hover {
        background-color: #00095baf;
    }
    
    /* MAIN */
    /* Banner */
    #carrusel {
        margin-top: 80px;
        transition: 1s;
    }
    #carouselExampleFade {
        display: none;
    }

    #imagenParaCelular{
        z-index: -1;
        position: relative;
    }

    #textoSobreImagen {
        position: absolute;
        top: 150px;
        right: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-align: right;
        font-size: 1.3rem;
    }

    #textoSobreImagen h1 {
        text-transform: uppercase;
        font-weight: 900;

    }

    /* Titulo*/
    .titulo {
        font-family: 'Bebas Neue', cursive;
        padding: 10px;
        text-align: center;
        font-size: 3rem;
    }

    /* Vehiculos*/
    #vehiculos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        text-align: center;
        
    }

    .vehiculo {
        padding: 20px;
        border: 2px double #00095B;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 10px gray;
        position: relative;
    }

    .imagenDescuento {
        width: 10%;
        position: absolute;
        top: 20px;
        right: 80px;
        position: absolute;
        animation: destacar 2s alternate infinite linear;
    }

    @keyframes destacar {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2);
        }
    }

    .boton {
        display: inline-block;
        color: #ffffffff;
        background-color: #00095B;
        padding: 10px;
        text-align: center;
        width: 30%;
        min-width: 150px;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .boton:hover {
        background-color: #00095bc2;
    }

    /* Galeria */
    #galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .efectoGaleria:hover {
        opacity: 0.7;
        transition: all 0.8s;
    }

    /* Caracteristicas*/
     .formatoCeldas{
        text-align: center;
    }

    #filaEncabezado {
        text-align: center;
        background-color: #00095B;
        color: #fff;
        font-size: 1.5rem;
    }
    

    /* FOOTER */
    #piePagina {
        background-color: #00095B;
        color: #ffffffff;
        margin: 30px 0;
    }

    #opcionesFooter, #redesSociales {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #opcionesFooter li, #redesSociales li {
        margin-bottom: 10px 0;
        text-align: center;
        padding: 20px;
    }

    #opcionesFooter li a,
    #redesSociales li a {
        text-decoration: none;
        color: #ffffffff;
    }

    #opcionesFooter li a {
        position: relative;
        padding: 0 5px;
    }

    #opcionesFooter li a::after {
        content: "";
        position: absolute;
        background-color: #fff;
        height: 2px;
        width: 0;
        top: 20px;
        left: 0;
        transition: 1s;
    }

    #opcionesFooter li a:hover::after {
        width: 100%;
    }

    #redesSociales li a:hover {
        color: rgba(255, 255, 255, 0.733);
    }

    #derechos {
        font-weight: 400;
        text-align: center;
        background-color: #ffffffff;
        color: #00095B;
        margin: auto;
        padding: 20px;
        width: 100%;
    }

@media(min-width: 768px) {
    /* HEADER */
    /* Encabezado */

    #_opcionesMenu li{
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }

    #_opcionesMenu li a {
        margin-right: 20px;
    }

    #_opcionesMenu li a::after{
        content: "";
        position: absolute;
        background-color: #00095B;
        height: 2px;
        width: 0;
        top: 50px;
        left: 0;
        transition: 1s;
    }

    #_opcionesMenu li a:hover::after {
        width: 100%;
    }

    #_opcionesMenu li a:hover {
        background-color: #fff;
        color: #00095B;
    }

    /* MAIN */
    /* Banner */
    #carouselExampleFade {
        display: block;
    }

    #imagenParaCelular {
        display: none;
    }

    #textoSobreImagen {
        display: none;
    }
}


@media(min-width: 992px) {
    /* HEADER */
    /* Encabezado */
    #_opcionesMenu li{
        font-size: 1.2rem;
    }
    
    /* MAIN */
    /* Ventana */
    #popup{
        width: 600px;
    }

    /* Mensaje */
    #mensaje {
        background-attachment: fixed;
    }

    /* Galeria */
    #galeria {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }

}